In [7]:
import pandas as pd
import plotly.express as px
import seaborn as sns

In [35]:
df = pd.read_excel('supermarkt_sales.xlsx', sheet_name='Sales' ,skiprows=3 , usecols='B:R',nrows=1000,)

In [54]:
df.head()

,Invoice ID,Branch,City,Customer_type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Mumbai,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2021,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Delhi,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2021,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Bangalore,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2021,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Hyderabad,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2021,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Ahmedabad,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2021,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [9]:
sales_by_product_line = df.groupby(["Product line"])[["Total"]].sum()
fig_product_sales = px.bar(
    sales_by_product_line,
    x="Total",
    y=sales_by_product_line.index,
    orientation="h",
    title="<b>Sales by Product Line</b>",
    color_discrete_sequence=["#0083B8"] * len(sales_by_product_line),
    template="plotly_white",
)